## PURPOSE OF THIS NOTEBOOK:  
  
This notebook takes in a dataframe and transforms the data to be a format that Llama expects. We are expecing 3 columns:  
  
***Instruction***  
***Input***  
***Output***  
  
I would want to create 2 versions of this, One version that focuses on telling it to classify which ONET family it belongs too, and another one that will focus on the specific ONET, which will need to be formatted in a special manner (maybe another column for each ONET family where we can paste a formatted version that includes all the onet names).

In [9]:
import pandas as pd
import numpy as np
import csv

## Import the orignal data to create new Train/Test Data
  
To make creating the train/test quite easy, I can

In [38]:
# Start by loading in the data. 
onet_df = pd.read_csv("../Data/Updated_ONET_Alt_Titles.csv")
base_onet_df = pd.read_csv("../Data/Occupation Data.csv")

# Filter out any columns we don't need. 
onet_filtered = onet_df[['O*NET-SOC Code', 'Reported Job Title']]

# Show the filtered data
print(onet_filtered.shape)
onet_filtered.head()

(44545, 2)

  O*NET-SOC Code             Reported Job Title
0     11-1011.00  Chief Diversity Officer (CDO)
1     11-1011.00  Chief Executive Officer (CEO)
2     11-1011.00  Chief Financial Officer (CFO)
3     11-1011.00          Chief Nursing Officer
4     11-1011.00  Chief Operating Officer (COO)

In [40]:
# remove the military onet codes. 
base_onet_df = base_onet_df[~base_onet_df['O*NET-SOC Code'].str[:2].isin(['55'])]
onet_filtered = onet_filtered[~onet_filtered['O*NET-SOC Code'].str[:2].isin(['55'])]

In [41]:
# Create the Family group Column
base_onet_df['O*NET-SOC Group'] = base_onet_df['O*NET-SOC Code'].str[:2]
onet_filtered['O*NET-SOC Group'] = onet_filtered['O*NET-SOC Code'].str[:2]

# Filter out the SOC codes

In [46]:
onet_filtered

      O*NET-SOC Code             Reported Job Title O*NET-SOC Group
0         11-1011.00  Chief Diversity Officer (CDO)              11
1         11-1011.00  Chief Executive Officer (CEO)              11
2         11-1011.00  Chief Financial Officer (CFO)              11
3         11-1011.00          Chief Nursing Officer              11
4         11-1011.00  Chief Operating Officer (COO)              11
...              ...                            ...             ...
43946     53-7199.00                   Water Hauler              53
43947     53-7199.00                     Windlasser              53
43948     53-7199.00                   Wire Wheeler              53
43949     53-7199.00                       Yarn Man              53
43950     53-7199.00                    Yarn Worker              53

[43951 rows x 3 columns]

In [ ]:
# transform the label data

In [33]:
train_df['instruction'] = "Categorize the job title into one of the 22 job families:\n\n11\n13\n15\n17\n19\n21\n23\n25\n27\n29\n31\n33\n35\n37\n39\n41\n43\n45\n47\n49\n51\n53\n\n"

In [ ]:
def reformat_train_test_df(dataframe, family_group=True):
    dataframe.rename(columns={'Reported_Jobs':"input", "Label":"output"}, inplace=True)
    dataframe['instruction'] = "Categorize the job title into one of the 22 job families:\n\n11\n13\n15\n17\n19\n21\n23\n25\n27\n29\n31\n33\n35\n37\n39\n41\n43\n45\n47\n49\n51\n53\n\n"